@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");

html {
  font-size: 100%;
}

body {
  font-family: "Raleway", sans-serif;
  width: 100%;
  margin: auto;
}

/*Général*/
a:hover {
  color: #0065fc;
}

a {
  text-decoration: none;
  font-style: normal;
}

/*Logo*/

.logo {
  width: 25%;
  height: 30%;
}

/*Header*/

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2vw 0;
  width: 95%;
  margin: auto;
}

.menu_nav {
  /*conteneur hebergement à s'inscrire*/
  display: flex;
  flex-wrap: wrap;
  /*position: relative; utile pour le ::before*/
}

nav ul {
  display: flex;
  list-style: none;
}

nav li {
  margin-right: 9vh;
  font-size: 1.2rem;
}

.inscrire_menu {
  margin-left: -6vh;
}

nav a {
  font-size: 0.9rem;
  color: #0065fc;
  text-decoration: none;
}

/*.menu_nav ::before{ /*Je preferes laisser en hover à mon sens c'est plus esthetique*/ 
	/*content: '';
	width: 70px;
	height: 3px;
	background-color:#0065fc;
	position: absolute;
	bottom: 11vh;
}*/

nav a:hover {
  /*Barre bleu */
  border-top: 3px solid #0065fc;
  border-top-width: 0.3rem;
  padding-top: 2rem;
}

#menu_active {
  color: black;
}

.menu_inscrire {
  color: #0065fc;
  font-weight: bold;
  font-size: 1rem;
  align-self: center;
}

/* Titre principal   class="boutton_inscrire"*/

.search {
  /*Conteneur "trouvez votre heberg." à filtres "animaux."*/
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 95%;
  margin: auto;
  margin-top: -1vw;
  /*border: 1px solid  black;*/
}

.trouvez_nature {
  /*conteneur h1 et p*/
  display: flex;
  flex-direction: column;
}

.search_h1 {
  /*trouvez votre heberg..*/
  font-weight: bolder;
  font-size: 1.3rem;
}

.search_p {
  font-size: 0.9rem;
  margin-top: -1%;
}

/* Barre de recherche*/

.barre_search {
  /*ensemble de la barre de recherche*/
  display: flex;
  height: 43px;
}

.icone {
  /*entoure l'icone position*/
  border-radius: 2vh 0vh 0vh 2vh;
  height: 3rem;
  width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
  height: 43px;
}

.fa-map-marker-alt {
  /* couleur de l'icone*/
  color: black;
}

.boutton {
  /*boutton rechercher*/
  border-radius: 0px 15px 15px 0px;
  background-color: #0065fc;
  color: white;
  width: 110px;
  border: none;
  cursor: pointer;
  display: flex;
  font-weight: bolder;
}

.fa-search {
  visibility: hidden;
}

.desktop_screen {
  align-self: center;
  margin-left: 15%;
}

.label {
  border: 1px solid #deebff;
  width: 37vh;
}

input {
  /*pour changer la police placeholder*/
  font-weight: bolder;
  padding-left: 2vh;
  color: black;
}

input::-webkit-input-placeholder {
  color: black !important; /* permet de changer la couleur du texte*/
}

/*Filtres*/

.filtres_choix h3 {
  font-size: 1rem;
}

.filtres_choix {
  /*conteneur des filtres*/
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 2vw;
  align-items: center;
  justify-content: flex-start;
}

.filtre {
  /*icone + p*/
  border: 1px solid #f2f2f2;
  border-radius: 20px 20px 20px 20px;
  display: flex;
  align-items: center;
  color: black;
  font-weight: bold;
  margin-left: 7vh;
}

.filtre i {
  /*entourage et icone*/
  background-color: #deebff;
  border-radius: 100%;
  border: 1px solid #deebff;
  padding: 10px;
  font-size: 14px;
  color: #0065fc;
}

.filtre p {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  margin: auto;
  white-space: nowrap; /*pour que animaux autorisé soit sur la même ligne*/
  padding-left: 2vh; /*pour espacer les paragraphes des icones*/
  padding-right: 3.5vh;
}

.phrase_info i {
  display: inline-block; /*Pour créer le cercle de l'icone*/
  border-radius: 50%;
  box-shadow: 0px 0px 2px #888;
  padding: 0.3rem 0.5rem;
  margin-bottom: 1.5vw;
  margin-top: 1.5vw;
}

.fa-info {
  font-size: 0.6rem;
  color: #0065fc;
}

/*Hébergments*/

.corp {
  /*Conteneur hebergement + populaires*/
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 95%;
  margin: auto;
}

article {
  /*Conteneur hebergement*/
  order: 2;
  flex: 60%;
  margin-right: 1.5%;
  /* espacement entre herbergements à marseille et populaires*/
  border-radius: 3vh 3vh 3vh 3vh;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
}

article h2 {
  /* Hebergements à Marseille*/
  margin-left: 3.1vw;
  font-weight: bolder;
  font-size: 1.3rem;
  margin-top: 6vh;
  margin-bottom: 3.5vh;
}

.afficher_plus {
  /*Afficher plus*/
  margin-bottom: 6vh;
  margin-left: 3.1vw;
  margin-top: 2vh;
  font-size: 1rem;
}

.card_hebergement {
  /*Conteneur carte_hebergements*/
  margin: auto;
  margin-left: 2vw;
  margin-right: 2vw;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card {
  /* Conteneur de chaques images + info */
  min-width: 200px;
  /* pour afficher correctement les images avec une fenetre plus petite*/
  flex: 25%;
  height: 35vh;
  margin-left: 1vw;
  margin-right: 1vw;
  margin-bottom: 5%;
  background-color: white;
  border-radius: 3vh 3vh 3vh 3vh;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.card img {
  object-fit: cover;
  width: 95%;
  height: 55%;
  margin: auto;
  border-radius: 20px 20px 0px 0px;
  align-self: center;
}

.texte {
  margin: 5px 0px 0px 10px;
  font-size: 0.9rem;
  margin-left: 1rem;
  margin-bottom: 2vh;
}

.texte h3 {
  margin-top: 4%;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1vw;
}

.texte p {
  /* Espace entre p et h3*/
  line-height: 0;
  font-size: 0.9rem;
}

.texte .full {
  color: #0065fc;
}

.texte .false {
  color: #deebff;
}

article a {
  color: black;
}

/*Populaires*/

aside {
  /* Conteneur populaires*/
  order: 1;
  min-width: 200px;
  flex: 30%;
  margin-left: 1vw;
  /*Espace entre herbegement et populaire*/
  border-radius: 20px 20px 20px 20px;
  background-color: #f2f2f2;
}

aside h2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 2.8vw;
  margin-right: 2.8vw;
  margin-top: 6vh;
  margin-bottom: 3.5vh;
  font-weight: bold;
  font-size: 1.3rem;
}

aside a {
  color: black;
}

.fa-chart-line {
  color: black;
}

.card_populaire {
  /*conteneur toutes images + info */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  flex-basis: max-content;
  /*width: 95%;*/
}

.card1 {
  /*Conteneur unique image + info*/
  min-width: 255px;
  height: 150px;
  /* Pour avoir une hauteur du cadre blanc qui contient image et info cohérente*/
  margin-right: 2vw;
  margin-left: 2vw;
  margin-bottom: 8%;
  background-color: white;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  flex-wrap: wrap;
}

.card1 img {
  object-fit: cover;
  width: 35%;
  height: 95%;
  margin-left: 5px;
  margin-top: 5px;
  border-radius: 20px 0px 0px 20px;
  align-self: center;
}

.texte_populaire {
  margin-left: 1rem;
}

.texte_populaire h3 {
  font-size: 1rem;
}

.texte_populaire p {
  line-height: 1vw;
  font-size: 0.9rem;
}

.texte_populaire i {
  line-height: 10vh;
}

.texte_populaire .full {
  /*pour gerer la couleur des icones etoiles*/
  color: #0065fc;
}

.texte_populaire .false {
  color: #deebff;
}

/*Activités*/

.activités {
  /* Conteneur activité + h2 */
  order: 3;
  width: 95%;
  margin: auto;
}

.activités h2 {
  font-weight: bolder;
  font-size: 1.3rem;
  margin-top: 10vh;
  margin-bottom: 4vh;
}

.card_activité {
  /*Conteneur de chaques images + info*/
  display: grid;
  grid-template-columns: 22% 22% 23% 22%;
  column-gap: 3.5%;
  grid-template-rows: 170px 5px 170px;
  row-gap: 45px;
  grid-template-areas:
    "zone1 zone2 zone4 zone5"
    "zone1 zone2 zone4 zone6"
    "zone1 zone3 zone4 zone6";
  margin-bottom: 5%;
}

.carte_activité {
  text-decoration: none;
  color: black;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.carte_activité p {
  font-size: 1rem;
  font-weight: bolder;
  margin-left: 3vh;
}

.card_activité #element1 {
  grid-area: zone1;
}

.card_activité #element2 {
  grid-area: zone2;
}

.card_activité #element3 {
  grid-area: zone3;
}

.card_activité #element4 {
  grid-area: zone4;
}

.card_activité #element5 {
  grid-area: zone5;
}

.card_activité #element6 {
  grid-area: zone6;
}

.carte_activité .grande {
  object-fit: cover;
  width: 100%;
  height: 89%;
  /*me permet de gagner l'espace blanc sous les photos*/
  border-radius: 20px 20px 0px 0px;
}

.carte_activité .moyenne {
  object-fit: cover;
  width: 100%;
  height: 80%;
  border-radius: 20px 20px 0px 0px;
}

.carte_activité .petite {
  object-fit: cover;
  width: 100%;
  height: 72%;
  border-radius: 20px 20px 0px 0px;
}

/*Footer*/

footer {
  display: flex;
  padding-left: 1vh;
  background-color: #f2f2f2;
}

footer ul {
  list-style: none;
}

.footer_1 {
  /* conteneur de chaques ul*/
  line-height: 2.5vw;
}

.footer_2 {
  margin-left: 29vh;
  line-height: 2.5vw;
}

.footer_1 h2 {
  margin-left: 2.9vw;
  font-size: 1.2rem;
  margin-top: 8vh;
  line-height: 1vh;
}

.footer_2 h2 {
  margin-left: 2.9vw;
  font-size: 1.2rem;
  margin-top: 8vh;
  line-height: 1vh;
}
footer a {
  /*chaques li*/
  color: black;
  align-self: start;
  font-size: 1rem;
}

/*Media queries*/

@media screen and (max-width: 480px) {
  /*test precedent 420*/

  .menu_inscrire {
    /*Bouton s'inscrire position*/
    position: absolute;
    top: 4%;
    left: 60%;
  }

  nav a:hover {
    /*Barre bleu */
    border-bottom: 2px solid #0065fc;
    border-bottom-width: 0.3rem;
    padding-bottom: 1rem;
    border-top-style: none;
  }

  .trouvez_nature {
    /* Titre trouvez votre heberg. plus bas*/
    line-height: 1.5rem;
    margin-top: -5vh;
  }

  .trouvez_nature h2 {
    line-height: 2vw;
  }

  .icone {
    /*icone de barre de recherche*/
    width: 40px;
  }

  .boutton {
    width: 45px;
    border-radius: 10px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .fa-search {
    visibility: visible;
    font-size: 3vh;
    align-self: center;
    padding-bottom: 13px;
  }
  .desktop_screen {
    /* retire le mot 'rerchercher' du bouton*/
    visibility: hidden;
  }

  .filtre {
    margin-top: 2vw;
  }
  .filtres_choix h3 {
    /* taille du mot filtres*/
    font-size: 1rem;
    margin-left: 7vh;
  }

  .filtres_choix {
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-left: -4vh;
    position: relative;
  }

  #filtre_famille {
    position: absolute;
    left: 45%;
    top: 27%;
  }

  .phrase_info p {
    margin-left: 5%;
  }
  .petit_mot {
    margin-left: 6.5%;
  }
  article {
    /* pour espacer la section hebergement de poupulaires*/
    margin-top: 15vw;
  }
  .activités {
    margin-top: 15vw;
  }

  .card_activité {
    display: flex;
    flex-direction: column;
  }

  .carte_activité {
    height: 50vw;
    margin-bottom: 8vw;
  }

  .carte_activité .grande {
    width: 100%;
    height: 80%;
  }

  .carte_activité .petite {
    width: 100%;
    height: 80%;
  }

  .carte_activité .moyenne {
    width: 100%;
    height: 80%;
  }

  footer {
    margin-top: 12vw;
    flex-direction: column;
  }

  .footer_1 {
    line-height: 4vh;
  }

  .footer_2 {
    margin-left: 0;
    line-height: 4vh;
  }
}

@media screen and (min-width: 481px) and (max-width: 780px) {
  /* test precedent 421/550*/

  nav a:hover {
    /*Barre bleu */
    border-bottom: 2px solid #0065fc;
    border-bottom-width: 0.3rem;
    padding-bottom: 1rem;
    border-top-style: none;
  }

  .trouvez_nature {
    /* Titre trouvez votre heberg. plus bas*/
    line-height: 1rem;
  }

  .trouvez_nature h2 {
    line-height: 2vw;
  }

  .icone {
    /*icone de barre de recherche*/
    width: 40px;
  }

  .boutton {
    width: 45px;
    border-radius: 10px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .fa-search {
    visibility: visible;
    font-size: 3vh;
    align-self: center;
    padding-bottom: 13px;
  }
  .desktop_screen {
    /* retire le mot 'rerchercher' du bouton*/
    visibility: hidden;
  }

  .filtre {
    margin-top: 2vw;
  }
  .filtres_choix h3 {
    /* taille du mot filtres*/
    font-size: 1rem;
    margin-left: 7vh;
  }

  .filtres_choix {
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-left: -4vh;
    position: relative;
  }

  #filtre_famille {
    position: absolute;
    left: 45%;
    top: 27%;
  }

  .phrase_info p {
    margin-left: 5%;
  }

  article {
    /* pour espacer la section hebergement de poupulaires*/
    margin-top: 10vw;
    flex: 95%;
  }
  aside {
    flex: 95%;
  }

  .card1 {
    width: 90%;
  }

  .texte_populaire {
    margin-left: 10vh;
  }
  .texte_populaire i {
    line-height: 5vh;
  }

  .activités {
    margin-top: 10vw;
  }

  .card_activité {
    display: flex;
    flex-direction: column;
  }

  .carte_activité {
    height: 50vw;
    margin-bottom: 8vw;
  }

  .carte_activité .grande {
    width: 100%;
    height: 80%;
  }

  .carte_activité .petite {
    width: 100%;
    height: 80%;
  }

  .carte_activité .moyenne {
    width: 100%;
    height: 80%;
  }

  footer {
    margin-top: 12vw;
    flex-direction: column;
  }

  .footer_1 {
    line-height: 4vh;
  }

  .footer_2 {
    margin-left: 0;
    line-height: 4vh;
  }
}

@media screen and (min-width: 781px) and (max-width: 1250px) {
  body {
    width: 95%;
  }

  .corp {
    margin-top: 5vw;
    display: flex;
    flex-direction: column;
  }

  .trouvez_nature {
    margin-top: 10vw;
  }

  .barre_search {
    margin-top: 5vw;
  }

  .filtres_choix h3 {
    /* taille du mot filtres*/
    font-size: 1rem;
  }

  .filtres_choix {
    align-items: flex-start;
    line-height: 1.5rem;
  }

  .phrase_info {
    margin-top: -2%;
  }

  article {
    margin-top: 8vw;
    width: 95%;
  }

  .card {
    height: 20rem;
  }

  .card img {
    height: 70%;
  }

  aside {
    flex: 95%;
  }

  .card1 {
    width: 90%;
  }

  .texte_populaire {
    margin-left: 10vh;
  }

  .texte_populaire i {
    line-height: 4vh;
  }

  .card_activité {
    display: flex;
    flex-direction: column;
  }

  .carte_activité {
    height: 40vw;
    width: 95%;
    margin: auto;
  }

  .carte_activité p {
    margin-top: 3vw;
    font-size: large;
  }

  .carte_activité .grande {
    width: 100%;
    height: 85%;
  }

  .carte_activité .petite {
    width: 100%;
    height: 85%;
  }

  .carte_activité .moyenne {
    width: 100%;
    height: 85%;
  }

  footer {
    margin-top: 10vw;
  }

  .footer_1 {
    line-height: 4vh;
  }

  .footer_2 {
    margin-left: 8vh;
    line-height: 4vh;
  }
}
